<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Varkous</title>
  </head>
  <body>
    <div style="margin-left: 33%; margin-right: 33%;">
      <h1 style="font-family: monospace;
      color: black;
      text-shadow: 3px 3px 3px red;">Problem forging request</h1>
      <img src="error.png" alt="" style="filter: drop-shadow(2px 4px 62px red);">
    </div>
  </body>
</html>
<style media="screen">
  body {
    background: url('/Black Textile Molten Center.jfif')
  }
</style>
<!-- <script type="text/javascript" src="http://localhost:8000/livereload.js"></script> -->
