<!DOCTYPE html>


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Varkous</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="styles/home.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-topline"></div>

      <div class="nav-left">
        <div class="nav-link">
          <a href="#"><img src="Projects_1.png"><h5>Projects</h5></a>
        </div>
        <div class="nav-link">
          <a href="#"><img src="About_Me.png"><h5>About</h5></a>
        </div>
      </div>

      <div class="nav-center">
        <!-- <img src="/Black Textile Molten Center.jfif" alt=""> -->
        <img src="Computer_3.png" alt="">
      </div>

      <div class="nav-right">
        <div class="nav-link">
          <a href="#"><img src="Work Request_1.png"><h5>Request Work</h5></a>
        </div>
        <div class="nav-link">
          <a href="#"><img src="Contact_1.png"><h5>Contact</h5></a>
        </div>
      </div>
    </nav>
  <main>

    <header class="shade-9 header">
      <p class="header-msg">"A freelance programmer who will (hopefully!) be available to assist those looking to gain a foothold on the web, be it a personalized API, server upgrades and migration, or even a simple static website. My toolbox is currently tailored to Web Application software, with the programming languages of Rust, JavaScript and TypeScript on my belt, alongside the front-end markup languages of HTML/CSS, and the back-end infrastructures of NodeJS and No-SQL databases. This site itself is ran by our friend Rust."
        <br>
        <br>
      "I currently live in the north-west regions of Idaho, working at my ever-growing lineup of projects. Be it applications, video games, food recipes, music or books, I will always be at at work on something I enjoy, something that serves the world (in some vague way), or bringing me closer to my creative goals.
      Feel free to contact me via email: varkous@protonmail.com, if you have a project order, or a question about my work"
      </p>

    </header>

    <section class="project-list">

      <h1 style="font-size: 4.0rem; text-align: center;">Projects</h1>

      <div class="project project-simulacrum">
        <a class="img-shroud" href="https://simulacrum.clankelsick.com">
          <img src="/Voidglobe 3.png" class="img-1">
          <img src="/Simulacrum_Title.png" class="img-2" style="filter: drop-shadow(0.3px 0.3px 0.3px rgb(10, 110, 250));">
          <!-- <img src="/database logo.png" class="img-2" style="filter: drop-shadow(3px 3px 3px rgb(10, 110, 250)); width: 50%; opacity: 0.9; left: 25%; top: 20%;"> -->
        </a>
        <div class="">
          <p><a href="https://github.com/Varkous/Simulacrum">Simulacrum</a> is a file-systems-management platform designated for -- and hosted on -- the cloud drive "Skeleton Hill", belonging to the T.N.T family. Simulacrum provides alternative access and utilization of the cloud drive's File System, supplementing the bare-bones features with a more aesthetic user interface, versatile file operations, and easier file identification/searching.
          </p>
          <p>The file server is privately owned by T.N.T and not openly accessible by the public, and anonymous users must request profiles via email to gain access. Although employers may utilize the guest account if they know the password.</p>
        </div>
        <div class="simulacrum-gifs">
          <!-- <img class="demo" src="/DK1.png"> -->
          <img class="demo" src="Simulacrum-Tour-1.gif">
        </div>
      </div>

<hr class="glow-line">

      <div class="project project-vigil">
        <a class="img-shroud" href="https://vigil.clankelsick.com">
          <img src="World Holograph (cut).png" class=" img-1">
          <img src="Vigil Title 2.png" class=" img-2">
        </a>
        <div class="">
          <p><a href="https://github.com/Varkous/Vigil">Vigil</a> is a file-systems-management platform designated for -- and hosted on -- the cloud drive "Skeleton Hill", belonging to the T.N.T family. Simulacrum provides alternative access and utilization of the cloud drive's File System, supplementing the bare-bones features with a more aesthetic user interface, versatile file operations, and easier file identification/searching.
          </p>
          <p>The file server is privately owned by T.N.T and not openly accessible by the public, and anonymous users must request profiles via email to gain access. Although employers may utilize the guest account if they know the password.</p>
        </div>
        <div class="vigil-gifs">
          <img class="demo" src="Vigil-Tour-3.gif">
        </div>
      </div>

<hr class="glow-line">

      <div class="project project-WOW-randomizer">
        <a class="img-shroud" href="/wowcharandom">
          <img src="WoW_Logo.png" class="img-1">
          <img src="randomizer-logo.png" class="img-2" style="top: 90%; filter: drop-shadow(2px 4px 2px gold);">
        </a>
        <div class="">
          <p><a href="/wow.html">WOW-Char-Randomizer</a> A very simple app that allows you to randomize a character between of the two factions, Horde or Alliance in either WoW Classic or The Burning Crusade. Nice for narrowing down you and yours friends' choices before beginning another journey in Azeroth.</p>
        </div>
        <div class="wow-char-gifs">
          <img class="demo" src="WoW-Char-Tour-1.gif">
        </div>
      </div>

      <hr class="glow-line">

      <div class="project project-mpst" style="box-shadow: 20px 50px 50px 60px black;">
        <a class="img-shroud"  href="/mpst">
          <img src="Space Youtube.png" class="img-1">
          <img src="MPST 1.png" class="img-2" style="top: 90%;">
        </a>
        <div class="">
          <p><a href="https://github.com/Varkous/youtube-mpst">MPST (Missing Playlist Song Tracker)</a> Another simple, self-explantory website that allows querying playlists using the YouTube API, querying songs from those playlists, and saving those playlists as registries for later use to compare and identify missing songs from future versions of the playlist.</p>
        </div>
      </div>      

    </section>
  </main>
    <footer>
      <a href="#top" title="Back to top">Home</a>
      <a href="https://github.com/Varkous/varkous" title="Github repository">Varkous</a>
      <a href="#" title="Creator email">varkous@protonmail.com</a>
    </footer>
  </body>
</html>

<script type="text/javascript">
</script>
